AUTHENTICATION_API_KEY=change-me-evolution
SERVER_URL=https://dev.gtsofthub.com.br
CONFIG_SESSION_PHONE_VERSION=2.3000.1020885143
LOG_LEVEL=ERROR,WARN
DATABASE_ENABLED=true
DATABASE_PROVIDER=postgresql
DATABASE_CONNECTION_URI=postgresql://postgres:change-me-postgres@postgres:5432/evolution?schema=public
DATABASE_CONNECTION_CLIENT_NAME=evolution_ucmtest
DATABASE_SAVE_DATA_INSTANCE=true
DATABASE_SAVE_DATA_NEW_MESSAGE=true
DATABASE_SAVE_MESSAGE_UPDATE=true
DATABASE_SAVE_DATA_CONTACTS=false
DATABASE_SAVE_DATA_CHATS=false
CACHE_REDIS_ENABLED=true
CACHE_REDIS_URI=redis://:change-me-redis@redis:6379/6
CACHE_REDIS_PREFIX_KEY=evolution
